html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

*, * :before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 360px) {
    .ser-con__btn {
        width: 50%;
        min-width: 150px;
    }

    .button-a {
        width: unset;
    }

}

@media screen and (min-width: 550px) {
    .banner-items {
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 765px) {
    .banner-items {
        max-width: 730px;
        margin-right: auto;
        margin-left: auto;
    }

    .banner-box {
        display: flex;
        flex-wrap: wrap;
    }
    
    .custom-select-wrapper {
        width: 50%;
        padding-right: 28px;
    }

    .custom-options {
        width: 70%;
    }

    #search {
        width: 50%;
    }

    .box-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .box {
        width: 48.9%;
    }

    .service-box_maincontainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    

    .figure-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;   
    }

    figure {
        width: 48%;
        margin: 0;
        padding: 6px;   
    }

    .services-box {
        width: 45%;
    }
}

@media screen and (min-width: 980px) {
    .banner-items{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }

    .banner-items {
        align-self: flex-start;
        justify-items: flex-start;
        padding-left: 25px;
        margin-left: 40px;
        margin-right: 0;
    }

    .banner-box {
        width: 80%;
    }

    .rapid-response {
        font-size: 2.5rem;
        line-height: 1.4;
        max-width: 600px;
    }

    .quality-health {
        max-width: 500px;
    }

    .custom-select-wrapper {
        width: 25%;
    }

    .custom-options {
        width: 140%;
    }

    #search {
        width: 25%;
    }

    .patient-whatwedo_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .patient-doctor_container {
        width: 50%;
    }

    .whatwedo-box_container {
        width: 50% ;
    }

    .patient-doctor {
        height: 350px;
        object-fit: cover;
    }

    .services-box {
        width: 30%;
    }

    figure {
        width: 30%;
        margin: 0;
        padding: 0;
    }

    .goals-container {
        padding: 50px 30px;
        width: 45%;
    }

    .telehealth__goals {
        font-size: 2.1rem;
    }

    .telehealth-goal__list {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1190px) {
      .banner-items {
          align-items: center;
          justify-content: center;
          padding-left: 180px;
          max-width: 800px;
      }

      .banner-box {
        width: 95%;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .rapid-response {
    font-size: 3.2rem;
    font-family: "Rubik", sans-serif;
    }

    .custom-options {
        width: 190%;
    }

      .ser-con__div {
          width: 100%;
          justify-content: unset;
      }

    .patient-whatwedo_container {
        max-width: 1170px;
        margin-right: auto;
        margin-left: auto;
        padding: 65px 0;
    }

    .mainour-services_container {
        background-color: #f4f6fe;
    }

    .our-services_container {
        max-width: 1170px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 100px;
    }

    .specialist-container {
        max-width: 1170px;
        margin-right: auto;
        margin-left: auto;
    }  

}
